[Unit]
Description=MinIO
Documentation=https://docs.min.io
Wants=network-online.target
After=network-online.target

[Service]
User={{ minio_user }}
Group={{ minio_user }}
EnvironmentFile=/etc/default/minio
ExecStart=/usr/local/bin/minio server --console-address ":9001" --address ":9000" {{ minio_data_dir }}

[Install]
WantedBy=multi-user.target
